.snow{
  background-image: url(snow.png);
  background-repeat: no-repeat;
  position: absolute;

  background-size:100% 100%;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://192.168.0.112:8888/public/libs/snow/snow.png',  sizingMethod='scale');

  animation-name: spin;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
